EquipSharedSystem.config
EquipSharedSystem.creator
EquipSharedSystem.creator.user
EquipSharedSystem.files
EquipSharedSystem.includes
example/.bash_history
example/.cache/dconf/user
example/.cache/motd.legal-displayed
example/.config/user-dirs.dirs
example/.config/user-dirs.locale
example/.dbus/session-bus/eec5766dcb8f6b971a18051100000004-0
example/.dmrc
example/.ICEauthority-c
example/.pulse-cookie
example/.sudo_as_admin_successful
example/.viminfo
example/.Xauthority
example/.xsession-errors

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
test/1.xml
test/db.c
test/db.h
test/db_store_test
test/db_store_test.c
test/gdbm.h
test/gread
test/gread.c
test/libgdbm.a
test/lo
test/thread_mutex_test
test/thread_mutex_test.c
lib/arm/libasf.a
lib/arm/libgdbm.a
lib/arm/libjpeg.a
lib/arm/libjpeg.la
lib/arm/libjpeg.so
lib/arm/libjpeg.so.8
lib/arm/libjpeg.so.8.0.2
lib/arm/libRf422eabid8.a
lib/arm/libRfeabi422d8.a
lib/arm/libspctdecode.a
lib/arm/libstreaming.a
lib/arm/libutils.a
lib/arm/libxml2.a
lib/arm/libxml2.la
lib/arm/libxml2.so
lib/arm/libxml2.so.2
lib/arm/libxml2.so.2.7.8
lib/linux/libasf.a
lib/linux/libspctdecode.a
lib/linux/libstreaming.a
lib/linux/libutils.a
lib/mingw/libasf.a
lib/mingw/libasf.def
lib/mingw/libspctdecode.a
lib/mingw/libspctdecode.def
lib/mingw/libstreaming.a
lib/mingw/libstreaming.def
lib/mingw/libutils.a
README.txt
example/MYI2C_Ex.c~
example/stream_server
tool/db.c
tool/db.h
tool/db_store_test
tool/db_store_test.c
tool/gdbm.h
tool/gread.c
tool/libgdbm.a
tool/lo
tool/thread_mutex_test
tool/thread_mutex_test.c
